<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>

    <div id="content" class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/images/picture-me.jpg" alt="" style="width:100%;">
        </div>
        <div class="col-md-6" style="background-color:lightblue;">
          <h2>Nutnaree Thongrueang</h2>
          <h4>Working Experience</h4>
          <ul>
           <li><b>Lecturer in Geoinformatics</b>
             <p>Faculty of Computer Science and Information Technology, Rambhai Barni Rajabhat University</p>
           </li>
           <li><b>Research Associate</b>
             <p>Department of Energy, Environment and Climate Change (School of Environment, Resources and Development), AIT</p>
           </li>
         </ul>

          <h4>Education</h4>
          <ul>
           <li><b>MSc in Remote sensing and Geographic Information Systems</b>
             <p>2017 MSc in Remote sensing and Geographic Information Systems at Asian Institute of technology, Thailand</p>
           </li>
           <li><b>BSc in Geography</b>
             <p>2015 BSc in Geography at Kasetsart University, Thailand</p>
           </li>
         </ul>

          <h4>Research of interests</h4>
          <ul>
           <li>Geoinformatics</li>
           <li>Oceanography (Sea surface temperature)</li>
           <li>Geospatial data processing and management</li>
           <li>Meteorology (Tropical cyclone)</li>
           <li>Geography</li>
         </ul>
        </div>
      </div>
      <% include ./partials/footer %>
    </div>

  </body>
</html>
