<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>

    <div id="content" class="container">
       <h2>Contact us</h2>
       <p>Sea surface temperature (SST) is the water temperature close to the ocean's surface. The exact meaning of surface varies according to the measurement method used, but it is between 1 millimetre (0.04 in) and 20 metres (70 ft) below the sea surface.</p>
       <% include ./partials/footer %>
    </div>
  </body>
</html>
