<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>

    <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div id="content" class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('/images/kungkaban-slide.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h2>Khungkrabaen Bay</h2>
              <p style="font-size:10px;">Source: https://f.tpkcdn.com/review-source/75b83e9f-0715-8903-fccf-5285fb7bdfa4.jpg</p>
              <p style="font-size:10px;">Photo by: MR. PHANTIP MALISUWAN</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/images/kungkaban.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h2>Khungkrabaen Bay</h2>
              <p style="font-size:10px;">Source: https://siamrath.co.th/files/styles/750/public/img/20160918/4a7ddd86d358941bb798db157fbf234a10cdd24829c3a0817057a007e405420e.jpg?itok=2TpSgHTi</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/images/kungkaban-slide3.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h2>Khungkrabaen Bay</h2>
              <p style="font-size:10px;">Source: http://michellesbridal.com/wp-content/uploads/2018/11/003-20171003001-4.jpg</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
      </div>
       <h2>SEA SURFACE TEMPERATURE</h2>
       <p>Sea Surface Temperature (SST) Using a thermal band of Landsat-8 satellite imagery –Khungkrabaen Bay in Tha Mai district, Chanthaburi province</p>

       <% include ./partials/footer %>

    </div>

  </body>
</html>
