<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>

    <div id="content" class="container">
      <h3>Khungkrabaen Bay</h3>
      <div class="row">
        <div class="col-md-6">
          <img src="/images/kungkaban.jpg" alt="" style="width:100%;">
        </div>
        <div class="col-md-6" style="font-size:16px;">
          <p>Khungkrabaen Bay is located   in Tha Mai district, Chanthaburi province, Eastern Thailand (Figure1) which is shallow coastal waters in Gulf of Thailand. The total approximate area is about 5.5872 km2, covering latitude of 12째 34' to 12째 36' North and longitude 101째 53' to 100째 35' East. This bay is connected Gulf of Thailand with narrow mouth which is about 900 meters wide. The study area is surrounded by prawn farm and mangrove forest and also under the responsibility of Khungkrabaen royal development study center. The study centre was established in 1981 to sustainably preserve the mangrove forests and keep coastal marine ecosystems in equilibrium.</p>
        </div>
      </div>
      
  </div>

  </body>
  <% include ./partials/footer %>
</html>
