<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>

    <div id="content" class="container">
       <h2>What's Sea Surface Temperature</h2>
      <div class="row">
         <div class="col-md-12">
           <div class="row">
             <div class="col-md-12">
               <img src="/images/sst.jpg" alt="" style="width:80%;">
               <p><i>Source: NASA world-wide sea temperature map from the Advanced Microwave Scanning Radiometer (AMSR-E) aboard NASA’s Aqua satellite (https://www.nasa.gov/images/content/126375main_amsr_e_hurricane_lg.jpg)</i></p>
             </div>
           </div>
         </div>
         <div class="col-md-12" style="font-size:16px;">
           <h3>Sea Surface Temperature (SST)</h3>
           <p>Sea surface temperature (SST) is a strong indicator of productivity, pollution, and global climate change, and this can be measured using thermal infrared (IR)
             bands from optical satellites. Interpretive techniques are required to convert the data to actual temperature (Azmi, Agarwadkar, Bhattacharya, Apte, & Inamdar, 2015).
             SST has been used to identify sources of pollution, thermal pollution, upwellings, and areas of variant productivity. SST is also an indicator of stress to corals and
             other species.
           </p>
           <p>SST is and has been one of the most measured variables in the ocean, and as such it has received much scientific attention. Using a combination of ship SSTs, moored and
             drifting buoy SSTs, and satellite infrared SSTs, we have characterized the global and seasonal patterns of SST. At the top layer of the ocean, the molecules motion can
             measure the energy. Every few days in a week, a global sea surface temperature is measured, depending on the space bone and the sensor. The measurement of sea surface
             temperature is approximately approximately 10 µm infrared bands below the surface to 1 mm microwave bands which depths using radiometers.
           </p>
           <p><i>According to Peter J. Minnett (2019)</i></p>
          </div>
       </div>

       <hr>
       <h3>Landsat 8</h3>
       <div class="row">
         <div class="col-md-6">
           <img src="/images/landsat8.jpg" alt="" style="width:100%;">
           <p><i>Source: https://eo.belspo.be/sites/default/files/styles/xlarge/public/satellites/landsat8.jpg?itok=lcXtDvXE</i></p>
         </div>
         <div class="col-md-6" style="font-size:16px;">
           <p>Landsat 8 was launch on February 11, 2013 from Vandenberg Air Force Base, California on an Atlas-V rocket. The satellite carries the Operational Land Imager and the Thermal Infrared Sensor. Furthermore, the Landsat 8 satellite orbits the Earth in a sun-synchronous, near-polar orbit, at an altitude of 705 km (438 mi), inclined at 98.2 degrees, and circles the Earth every 99 minutes. The scene size is 170 km x 185 km (106 mi x 115 mi)</p>
           <p>An archive of  Landsat 8 Operational Land Imager (OLI) images covering the Khung Kraben Bay (with path/row 128/51) and was acquired, spanning the time period from 2017 to 2019 for the purpose of Sea Surface Temperature (SST) estimation. Also, the Landsat 8 Operational Land Imager (OLI) provides high </p>
         </div>
       </div>
       <% include ./partials/footer %>
    </div>
  </body>
</html>
